.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #090979, #020024);
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
}
.dashboard-content {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  max-width: 400px;
  width: 90%;
}

.dashboard-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}
.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logout-button:hover {
  background-color: #322e75;
}
